{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# le block title dans le squelette sera rempli avec le contenu de ce block #}
{% block title %}Accueil{% endblock %}

{# le block body dans le squelette sera rempli avec le contenu de ce block #}
{% block body %}

    <div class="container-fluid">

        {# Affichage des messages flashs de type "success" si il y en a #}
        {% include 'partials/flashes/success.html.twig' %}
        {# Affichage des messages flashs de type "error" si il y en a #}
        {% include 'partials/flashes/error.html.twig' %}
        
        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Accueil </h1>

        </div>

        

    </div>

{% endblock %}