{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# le block title dans le squelette sera rempli avec le contenu de ce block #}
{% block title %}Accueil{% endblock %}

{# le block body dans le squelette sera rempli avec le contenu de ce block #}
{% block body %}

    <div class="container-fluid">

        <!--Partie principale de la page d'accueil-->
        <div class="row main-home">
            <img src="{{ asset('img/fond_mosaic_film.jpg') }}" alt="Bannière accueil" id="home-ban">

            <div class="view col-12 text-center px-4 py-4">
                <h1>Bienvenue sur DDA TV</h1>
                <h2>Le site ou vous n'allez plus perdre le fil sur vos films et vos series !</h2>
                <p class="pt-3">DDA TV est un site qui regroupe beaucoup de films et séries en tout genre.</p>
                <p class="pt-2">Trouvez VOTRE nouvelle série ou nouveau film préféré, en lisant les fiches techniques contenues dans notre catalogue.</p>
            </div>

            <img src="{{ asset('img/séries-tv.jpg') }}" alt="Bannière accueil 2" id="home-ban2">
        </div>




        <!--Footer-->
        <footer class="footer col-12 d-md-flex p-2 bd-highlight justify-content-md-center align-items-md-center view">
            <div class="row">
                <div class="col-md-12 pt-4">
                    <p class="media justify-content-center align-items-center"><small>© 2020, DDA TV, WF3 students</small></p>
                </div>
            </div>
        </footer>

    </div>

{% endblock %}