{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# le block title dans le squelette sera rempli avec le contenu de ce block #}
{% block title %}Accueil{% endblock %}

{# le block body dans le squelette sera rempli avec le contenu de ce block #}
{% block body %}

    <div class="container-fluid">
        
        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Accueil </h1>
        </div>

    </div>

{% endblock %}