{% extends 'base.html.twig' %}

{% block title %}Mentions-Légales{% endblock %}

{% block body %}

    <div class="container-fluid d-flex flex-column pt-1 main-catalogue">

        <div class="row no-margin">
            <div class="col-12 text-center p-5">
                <h1 class="custom-title">Mentions Légales</h1>
                <p class="col-12 text-center font-alias"><a href="{{ path('catalogue_index') }}">Retour au catalogue</a></p>
            </div>
        </div>

        <div class="row no-margin">
            <div class="col-12">
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi corporis, dolore dolores doloribus eaque eos facilis in incidunt ipsum libero minima molestias neque officiis saepe temporibus veniam veritatis! Modi.</p>
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores aut distinctio eaque itaque labore, laborum libero magnam minus, natus numquam quia repellendus sint suscipit? Consequatur id nihil soluta?</p>
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur culpa distinctio eaque exercitationem mollitia neque odio quae recusandae, suscipit velit voluptatem voluptates, voluptatibus. Beatae distinctio itaque quo sit <sunt class=""></sunt></p>
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae commodi, consectetur dolor dolorem eius excepturi, expedita explicabo facere inventore nam placeat quia quibusdam reprehenderit vero? Cumque omnis reprehenderit similique!</p>
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut commodi expedita iusto libero molestias, officiis pariatur quisquam. At incidunt iste nemo nisi, officiis perspiciatis. Consequuntur laborum molestias quod reprehenderit.</p>
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad fuga minus non obcaecati quas quis repellat rerum ut voluptatibus. Alias assumenda corporis labore rem repudiandae! Facere, praesentium similique. Voluptatem.</p>
                <p style="font-family: akbar;font-size: 1.5rem; margin-bottom: 2.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda esse fuga, in, inventore maiores minima minus quisquam quo sequi totam voluptas, voluptate voluptates. Dicta iusto officia omnis unde voluptate?</p>
            </div>
        </div>
    </div>


{% endblock %}
