/*Déclarations police d'écritures*/
@font-face
{
    font-family : akbar;
    src: url('../fonts/akbar.ttf');
}

@font-face{
    font-family: 'Corleone';
    src: url('../fonts/Corleone.ttf');
}
@font-face
{
    font-family : JurassicPark-BL48;
    src: url('../fonts/JurassicPark-BL48.ttf');
}
@font-face{
    font-family: 'Alias';
    src: url('../fonts/Alias.ttf');
}
@font-face{
    font-family: 'Miltown';
    src: url('../fonts/Miltown-K17.ttf');
}
@font-face{
    font-family: 'HarryP';
    src: url('../fonts/harry_p/HARRYP__.TTF');
}
@font-face{
    font-family: 'Simpsonsfont';
    src: url('../fonts/simpsonsfont/Simpsonfont.ttf');
}
@font-face{
    font-family: 'SimpsonsTreeHouse';
    src: url('../fonts/simpsonsfont/SimpsonsTreehouseOfHorror-R3qE.ttf');
}
@font-face{
    font-family: 'Starjedi';
    src: url('../fonts/starjedi/Starjedi.ttf');
}
@font-face
{
    font-family : Broadway;
    src: url('../fonts/Broadway.ttf');
}



a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: goldenrod;
}

hr{
    width: 100%;
    border: solid 1px snow;
}

#DDA{
    text-decoration: none;
    color: snow;
}

#DDA:hover{
    text-decoration: none;
    color: goldenrod;
}




/*Propriétés sur navbar*/

.search{
    justify-content: center;
    display: flex;
    align-items: center;
}

.form-control{
    margin-bottom: 0.5rem;
}

.form-inline{
    margin: auto;
}


.user-name{
    font-size: 0.75rem;
    color: lightgray;
}

.credits{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.h6{
    font-size: 0.75rem;
}

.card-img-top{
    height: 400px;
}


/*Page d'accueil*/
.main-home{
    margin-left: 0px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl
{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/*bannières page d'accueil*/
#home-ban{
    height: 600px;
    width: 100%;
}

#home-ban2{
    width: 100%;
    height: 700px;
}

/*section principal de l'accueil(avec titres et paragraphes de présentations*/
.view
{
    background-color: #868484;
    color: rgb(10, 8, 8);
}

/**Titres principaux de présentation*/
.view>h1
{
    text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.6);
    font-family: "Broadway", sans-serif;
}

.view>h2
{
    text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.6);
    font-family: "Broadway", sans-serif;
}

.view>p
{
    text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.6);
    font-family: "akbar", sans-serif;
}


/*footer*/
.footer
{
    padding-bottom: 40px;
}
/*contenu du footer*/
.media
{
    color: black;
    text-decoration: none;
    background-color: transparent;
}


/**Media queries page d'accueil*/
/*Format mobile*/
@media screen and (min-width: 320px) and (max-width: 600px){

    /*images pas d'accueil*/
    #home-ban{
        height: 300px;
    }
    #home-ban2{
        height: 300px;
    }
}
/**Format tablette*/
@media screen and (min-width: 600px) and (max-width: 1006px){
    /*images pas d'accueil*/
    #home-ban{
        height: 450px;
    }
    #home-ban2{
        height: 450px;
    }
}


/*Page Catalogue(index)*/
.main-catalogue{
    background-color: #868484
}
/*Titres de la page catalogue*/
.gallery{
    font-family: 'Alias';
}

.shows{
    margin: auto;
}
























/**Media Queries page catalogue*/
/*Format mobile*/
@media screen and (min-width: 320px) and (max-width: 600px){


    .card-img-top {
        height: 300px;
    }

    .card{
        width: 80%;
        margin: auto;
    }

    .form-inline{
        margin: 0;
    }
}


/**Format tablette*/
@media screen and (min-width: 600px) and (max-width: 1006px){


    .nav-main{
        display: flex;
        flex-direction: row;
    }

    /*barre de recherche*/
    .form-inline .form-control{
        width: 90%;
    }

    .navbar-expand-lg .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navbarToggler{
        align-items: flex-start;
    }

    .navbar-nav .puce{
        display: flex;
        flex-direction: column;
    }

    .title {
        padding: 0.5rem;
    }

    .card-img-top {
        height: 250px;
    }
}

/*Format grand écran*/
@media screen and (min-width: 1006px) and (max-width: 1600px){

}

/*page view*/
.main-view{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img-view{
    width: 100%;
}

/*Bouton d'insertion*/
#add-btn{
    position: absolute;
}

/* Menus paginations */
.pagination .page-item .page-link{
    background-color: black;
    color: #F5F7F9;
}

.pagination .page-item.disabled{
    cursor: not-allowed;
}

.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
    color: grey;
}

.pagination .page-item a.page-link:hover{
    background-color: #292929;
}
