

/*page 404*/
.page-img
{
    background-image: url(../img/404.jpg);
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
}


.page-title
{
    color: red; 
}


.page-title>h5
{
    color: white; 
    font-family: "JurassicPark-BL48", sans-serif;
    font-size: 10rem;

}


.page-title>h1
{
    font-size: 10rem;
    font-family: "JurassicPark-BL48", sans-serif;
}


.body
{
    background-color: black;
}


.error-page-title
{
    font-family: sans-serif;
}


/*media querie de la page 404*/
@media screen and (min-width: 1600px)
{
    .page-img
    {
        height: 1000px;
    }
}


@media screen and (min-width: 560px) and (max-width: 1200px)
{
    .page-img
    {
        height: 400px;
    }
}


@media screen and (min-width: 800px) and (max-width: 1200px)
{
    .page-img
    {
        height: 600px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1600px)
{
    .page-img
    {
        height: 800px;
    }
}


@media screen and (min-width: 1700px) and (max-width: 1920px)
{
    .page-img
    {
        height: 1250px;
    }
}


/*page contact*/
.body-contact
{
    background-color: lightgray;
    color: purple;
}


.form-title
{
    color: darkred;
}


.but
{
    color: goldenrod;
    border: 2px white solid;
    background-color: black;
}


.btn:hover {

    text-decoration: none;
}