/*Déclarations police d'écritures*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@font-face
{
    font-family : akbar;
    src: url('../fonts/akbar.ttf');
}

@font-face{
    font-family: 'Corleone';
    src: url('../fonts/Corleone.ttf');
}
@font-face
{
    font-family : JurassicPark-BL48;
    src: url('../fonts/JurassicPark-BL48.ttf');
}
@font-face{
    font-family: 'Alias';
    src: url('../fonts/Alias.ttf');
}
@font-face{
    font-family: 'Miltown';
    src: url('../fonts/Miltown-K17.ttf');
}
@font-face{
    font-family: 'HarryP';
    src: url('../fonts/harry_p/HARRYP__.TTF');
}
@font-face{
    font-family: 'Simpsonsfont';
    src: url('../fonts/simpsonsfont/Simpsonfont.ttf');
}
@font-face{
    font-family: 'SimpsonsTreeHouse';
    src: url('../fonts/simpsonsfont/SimpsonsTreehouseOfHorror-R3qE.ttf');
}
@font-face{
    font-family: 'Starjedi';
    src: url('../fonts/starjedi/Starjedi.ttf');
}
@font-face
{
    font-family : Broadway;
    src: url('../fonts/Broadway.ttf');
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


hr{
    width: 100%;
    border: solid 1px snow;
}

#DDA{
    text-decoration: none;
    color: snow;
}

#DDA:hover{
    text-decoration: none;
    color: goldenrod;
}

.h6{
    font-size: 0.75rem;
}

.card-img-top{
    height: 400px;
}


/*Page d'accueil*/
.main-home{
    margin-left: 0px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl
{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/*bannières page d'accueil*/
#home-ban{
    height: 250px;
    width: 100%;
    background-image: url('../img/fond_mosaic_film_moitier1.jpg');
    background-size: cover;


}

#home-ban2{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url('../img/fond_mosaic_film_moitier2.jpg');

}

/*section principal de l'accueil(avec titres et paragraphes de présentations*/
.view
{
    background-color: #868484;
    color: rgb(10, 8, 8);
}

/**Titres principaux de présentation*/
.view>h1
{
    text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.6);
    font-family: "Broadway", sans-serif;
}
.view>h2
{
    text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.6);
    font-family: "Broadway", sans-serif;
}
.view>p
{
    text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.6);
    font-family: "akbar", sans-serif;
}

/*footer*/
.footer
{
    padding-bottom: 40px;
}
/*contenu du footer*/
.media
{
    color: black;
    text-decoration: none;
    background-color: transparent;
}


/**Media queries page d'accueil*/
/*Format mobile*/
@media screen and (min-width: 320px) and (max-width: 600px){

    /*images pas d'accueil*/
    #home-ban{
        height: 250px;
    }
    #home-ban2{
        height: 300px;
    }
}
/**Format tablette*/
@media screen and (min-width: 576px) and (max-width: 1006px){
    /*images pas d'accueil*/
    #home-ban{
        height: 250px;
    }
    #home-ban2{
        height: 450px;
    }
    .card-deck{
        flex-direction: column;
    }
    .card-deck .card{
        margin: auto;
        margin-top: 1rem;
    }

}


/*Page Catalogue(index)*/
.main-catalogue{
    background: rgb(236,154,10);
    background: linear-gradient(90deg, rgba(236,154,10,1) 10%, rgba(251,234,118,1) 50%, rgba(255,235,0,1) 92%);
}
/*Titre principal (='catalogue')*/
.custom-title{
    font-family: 'Corleone';
    font-size: 7rem;
    text-shadow: 7px 7px 3px goldenrod;
    color: darkred;
}

.harryP{
    font-family: 'HarryP';
    font-size: 1.5rem;
}

/*Titres de la page catalogue (='series, films, mangas')*/
.font-alias{
    font-family: 'Alias';
    font-size: 2rem;

}

/*Mes liens 'retour au catalogue'*/
html body div#wrapper.d-flex div#page-content-wrapper div.container-fluid.main-catalogue div.row.no-margin div.col-12.text-center.p-5 p.col-12.text-center.font-alias a{
    color: darkgoldenrod;
}
html body div#wrapper.d-flex div#page-content-wrapper div.container-fluid.main-catalogue div.row.no-margin div.col-12.text-center.p-5 p.col-12.text-center.font-alias a:hover{
    color: black;
    text-shadow: 4px 4px 3px rgb(150, 150, 150);
}

.h2-simpsons{
    font-family: 'Simpsonsfont';
    font-size: 3rem;
}

/*Mes 3 sections*/
.shows,.movies,.mangas{
    margin: auto;
    width: 100%;
}
/*Ombres blanches sur mes cards*/
.white-shadow:hover{
    -webkit-box-shadow: -1px -1px 18px 0px rgba(250, 250, 250, 0.75);
    -moz-box-shadow:    -1px -1px 18px 0px rgba(250, 250, 250, 0.75);
    box-shadow:         -1px -1px 18px 0px rgba(250, 250, 250, 0.75);
}
/*Mes liens 'voir tout'*/
.link-view{
    font-family: 'Simpsonsfont';
    color: gray;
    font-size: 1.5rem;
}

.link-view:hover{
    text-decoration: none;
    color: black;
}


.no-margin{
    margin: 0;
}

/**Media Queries page catalogue_index*/
/*Format mobile*/
@media screen and (min-width: 320px) and (max-width: 600px){
    .container-fluid{
        padding: 0;
    }

    .card-img-top {
        height: 300px;
    }

    .card{
        width: 80%;
        margin: auto;
    }

    .form-inline{
        margin: 0;
    }
}


/**Format tablette*/
@media screen and (min-width: 600px) and (max-width: 1006px){
    .container-fluid{
        display: flex;
        flex-direction: column;
    }

    .nav-main{
        display: flex;
        flex-direction: row;
    }

    /*barre de recherche*/
    .form-inline .form-control{
        width: 90%;
    }

    .navbar-expand-lg .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navbarToggler{
        align-items: flex-start;
    }

    .navbar-nav .puce{
        display: flex;
        flex-direction: column;
    }

    .title {
        padding: 0.5rem;
    }

    .card-img-top {
        height: 250px;
    }
}

/*Page profil*/
.eye-view{
    font-size: 2rem;;
}











/*page view*/
.main-view{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img-view{
    width: 100%;
}

/*Bouton d'insertion*/
#add-btn{
    position: absolute;
}

/* Menus paginations */
.pagination .page-item .page-link{
    background-color: black;
    color: #F5F7F9;
}

.pagination .page-item.disabled{
    cursor: not-allowed;
}

.pagination .page-item.disabled .page-link, .pagination .page-item.active .page-link{
    color: grey;
}

.pagination .page-item a.page-link:hover{
    background-color: #292929;
}
