{% extends 'base.html.twig' %}


{% block title %}L'Attaque des Titans{% endblock %}

{% block body %}

    <!--fiche technique-->
    <div class="container-fluid main-catalogue">

        <!--fiche technique-->
        <div class="row d-flex">

            <!--Header avec mon image mon titre et mon bouton d'insertion-->
            <div class="card col-8 offset-2 mt-5 p-0 white-shadow" >
                <img src="{{ asset('img/Attack-Titan-Fuji-Q-Highland-main-1200.jpg') }}" alt="serie" class="img-view">
                <div class="card-img-overlay border-secondary">
                    <h5 class="card-title big-jurassic text-center">L'Attaque des Titans</h5>
                    <div class="d-flex" style="height: 14rem;"><a href="#" class="btn btn-outline-warning m-auto">+ Ajouter à mes films</a></div>
                </div>

                <!--Ma fiche technique-->
                <div class="card-body">
                    <p class="card-text lead">Dans un monde ravagé par des titans mangeurs d’homme depuis plus d’un siècle, les rares survivants de l’Humanité n’ont d’autre choix pour survivre que de se barricader dans une cité-forteresse. Le jeune Eren, témoin de la mort de sa mère dévorée par un titan, n’a qu’un rêve : entrer dans le corps d’élite chargé de découvrir l’origine des Titans et les annihiler jusqu’au dernier…</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                            Genre : <strong>Anime </strong>
                        </li>
                        <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                            Réalisation : <strong>Tetsurō Araki</strong>
                        </li>
                        <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                            Scénario : <strong>Yasuko Kobayashi</strong>
                        </li>
                        <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                            Studio d’animation : <strong>Wit Studio Production I.G</strong>
                        </li>
                        <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                            Nombre de Saisons : (en cours de développement)
                            <span class="badge badge-primary badge-pill">4</span>
                        </li>
                        <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                            Nombre d'épisodes :
                            <span class="badge badge-primary badge-pill">60</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row no-margin">
            <div class="col-12 text-center p-5">
                <p class="col-12 text-center font-alias"><a href="{{ path('catalogue_index') }}">Retour au catalogue</a></p>
            </div>
        </div>
    </div>






{% endblock %}