{% extends 'base.html.twig' %}

{% block title %}Catalogue des séries{% endblock %}

{% block body %}

    <div class="container-fluid body-serie">
        {% if series is empty %}
            <div class="row">
                <p>Aucune série à afficher</p>
            </div>
        {% else %}
            <!--parties séries-->
            <section class="row">
                <div class="col-12 text-center p-5">
                    <h1>Séries</h1>
                    <p class="col-12 text-center"><a href="{{ path('catalogue_index') }}">Retour au catalogue</a></p>
                </div>
            </section>

            <section class="row">

                <div class="card-deck col-12">
                    {% for serie in series %}
                        <div class="card">
                            <img src="{{ serie.poster }}" class="card-img-top" alt="Jurassic Park">
                            <div class="card-body">
                                <a href="#" title="Voir la fiche technique"><h5 class="card-title"><bold>{{ serie.title }}</bold></h5></a>
                                <p class="card-text">{{ serie.summary }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        {% endif %}
    </div>

{% endblock %}